/* Font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
::selection {
  background-color: palevioletred;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
/* container */
.container {
  width: 80%;
  margin: 0 auto;
}
/* Link */
a {
  text-decoration: none;
  color: inherit;
}
/* Primary btn */
.primary-btn a {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #ff589e;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
}
.primary-btn a:hover {
  background: #8261ee;
}
